h1 {
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
}
body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}
h2 {
    font-weight: 300;
    color: white;
    font-size: 42px;
}
p a {
    font-size: 16px;
    color: aquamarine;
}
section p {
    color: gray;
    font-size: 21px;
}
footer p {
    text-align: right;
    color: gray;
}